.web-rating {
  display: block;
  width: 100%;
  max-width: 412px;
  height: auto;
  background: linear-gradient(to top right, var(--color-background-from), var(--color-background-to));
  border-radius: 1rem;
}