.web-rating {
  display: block;
  width: 100%;
  max-width: 412px;
  min-height: 360px;
  background: linear-gradient(to top right, var(--color-background-from), var(--color-background-to));
  border-radius: 1rem;
}

@media screen and (min-width: 412px) {
  .web-rating {
    min-height: 418px;
    border-radius: 2rem;
  }
}