.web-rating-checkbox {
  position: relative;
  display: block;
  padding-top: 100%;
}

.web-rating-checkbox__input {
  display: none;
}

.web-rating-checkbox__label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--color-button);
  color: var(--color-medium-grey);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 150ms;
}

.web-rating-checkbox__input:not(:checked):hover ~ .web-rating-checkbox__label {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.web-rating-checkbox__input:checked ~ .web-rating-checkbox__label {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  cursor: default;
}